node_modules/

backend/node_modules/
backend/.env
backend/.env.deploy
backend/.admin-credentials*

frontend/node_modules/
frontend/.env

frontend/dvs/node_modules/
frontend/dvs/dist/
frontend/dvs/.env
